@charset "utf-8";
/* CSS Document */

.Hero
{
	color:whitesmoke;
	width: 100%;
	background-color: cadetblue;
}
.HeroAbout
{
		color:whitesmoke;
	width: 100%;
	background-color: cadetblue;
	width:90%;
	
}
.AbtTop
{
	
}
.HeroImg img
{
	width:100%;
	height:100%;
}
.Information
{
		background-color: #102271;
	color:antiquewhite;
}
body
{
	color:black;
	background-color:darkslategrey;
}
.Top
{
	display: grid;
	gap:0%;
	grid-template-columns: 70% 30%;
}
/*Defines format for the transport keys in the top of the page.*/
.topTransport{
	width: 100%;
	background-color: #102271;
}

/*Defines how individual buttons should look for the transport keys, including sized text.*/
.topTransport a{
  display: block;
  color: #C9CFC6;
  padding-bottom: 1%;
	padding-top: 1%;
  text-decoration: none;
  font-size: 150%;
}

/*Indicates to the user that a transport key is selected, letting them press it to travel now.*/
.topTransport a:hover {
  background-color: #0045A2;
  color: #C9CFC6;
}